<div class="posts-cards">
  <mat-card class="example-card" *ngFor="let post of visiblePosts">
    <mat-card-header>
      <mat-card-subtitle>
        <app-user [user]="getUserName(users, post.userId)"></app-user>
      </mat-card-subtitle>
      <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="[post.id]" mat-button>Перейти</a>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator *ngIf="posts.length > 5" (page)="handlePageEvent($event)" [length]="posts.length" [pageSize]="pageSize"
  [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []">
</mat-paginator>